*
{margin:0;
padding:0;
}
body{
    background:#043645 top repeat-x; //url(images/bodybg.png) 
    font-family:Verdana, Arial, sans-serif;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 85%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* .container {
    padding: 16px;
  } */
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }

#h2 {
	color: #ffffff;
	font-weight: bolder;
	font-size: 24px;
    font-style: italic;
    float: right;
    padding: 10% 10%;
} 

#header img{
    width:970px;
    height:140px;
    margin:0 auto;
}
#header{
    width:1000px;
    height:160px;
    background:#068fb6;
    margin:0 auto;
}
#main{
    width:1000px;
    min-height:400px;
    background:#36b2d5;
    margin:0 auto;
    position:relative;
    overflow:hidden;
}
#left-sidebar{
    width:200px;
    min-height:400px;
    background:#36b2d5;
    float:left;
}
#konteiners{
    width:600px;
    min-height:400px;
    background:#549bb0;
    float:left;
    margin:0 auto;
    position:relative;
    padding-bottom:20px;
}
#right-sidebar{
    width:200px;
    min-height:400px;
    background:#36b2d5;
    float:left;
}
#footer{
    width:1000px;
    height:50px;
    background:#068fb6;
    margin:0 auto;
}
#footer p{
	text-align: center;
	color: #400000;
	padding-top: 10px;
}
#left-sidebar li{
    width:160px;
    height:40px;
    background:#068fb6;
    margin-bottom:2px;
}
#left-sidebar ul{
    margin:none;
    padding:none;
    list-style:none;
    margin-left:20px;
    margin-top:20px;
}
#left-sidebar li:hover{
    background:lightblue;
    cursor:pointer;
}
#left-sidebar a{
    color:#092f3a;
    font-family: Ariel, sans-serif;
    text-decoration:none;
    font-size:20px;
    line-height:10px;
    margin-left:10px;
}
#header img{
    margin:10px 100px 10px 20px;
    float:left;
}
#left-sidebar a:before{
    content:url(images/before.png);
    margin-right:10px;
    margin-top:3px;
}
#left-sidebar a:after{
    content:url(images/after.png);
    margin-left:10px;
}

.poga {
	margin: 0px;
	height: 40px;
	width: 169px;
	color: #FFFFFF;
	border: 0;
	border-radius: 10px;
	text-decoration: none;
    text-align: center;
    margin: 8px 10px;
	background-image: url("images/poga_h.png");
	font-size: 14px;
    font-weight: bolder;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.poga:hover
{
	height: 40px;
	width: 169px;
	color: #400000;
	border: 0;
	border-radius: 10px;
	text-decoration: none;
    text-align: center;
	background-image: url("images/poga.png");
	font-size: 14px;
	font-weight: bolder;
}

.poga:before{
    content:url(images/before.png);
    margin-right:10px;
    margin-top:3px;
}

.poga:after{
    content:url(images/after.png);
    margin-left:10px;
}

#header img{
    margin:10px 100px 10px 20px;
    float:left;
}
	
#rezultats {
	padding-top: 10%;
	text-align: center;
	color: #400000;
	font-weight: bolder;
	font-size: 30px;
}

#rezultats img{
	padding-left: 40%;
}

#textblock{
    width:560px;
    min-height:380px;
    background:#497f8f;
    margin:0 auto;
    margin-top:20px;
    padding:0 10px 10px 10px;
    position:relative;
    color:#FFF;
}

.browser img{
    margin-top:9px;
    margin-left:7px;
    float:left;
}

.browser{
    width:180px;
    height:320px;
    background:#068fb6;
    margin:0 auto;
    margin-top:20px;
}

#textblock img{
    margin:10px 10px 0 0px;
    float:left;
	height: 110px;
}

#textblock p{
    font-size:16px;
    line-height:22px;
    margin-left:10px;
    margin-top:10px;
    margin-bottom: 10px;
    color:#000;
}

#atbilzu_var {
margin-top: 10px;
}

#atbilzu_var label {
font-style: italic;	
}

#Progres {
margin-right: 0px;
}

#jautajums {
	color: #400000;
	font-weight: bolder;
	font-size: 18px;
	font-style: italic;
}

#text-input {
    height:200px;
    size: 500;
}