/* CSS fails */
body{
    background: #63FF4A
}
h1{
    text-align: center;
    color:yellow;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  #jautajums {
    width: 500px;
    border: 15px solid green;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
 }
 #progres {
  width: 500px;
  border: 15px solid green;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
 #rezultats {
  width: 500px;
  border: 15px solid darkred;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
#atbilzu_var {
    width: 500px;
    border: 15px solid green;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

#pogas {
    width: 500px;
    border: 15px solid green;
    padding: 15px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

#punkti {
    width: 500px;
    border: 15px solid green;
    padding: 15px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

#karogs {
  width: 150px
}